html,


body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  color: black;
  font-size: 12px;
}

.map-container {
  height: 100%;
}

.searchbar {
    margin-bottom: 20px;
}

#main_wrap {
  width: 300px;
  height: 700px;
  padding-right: 2%;
  padding-left: 2%;
  background-color: green;
  display: flex;
  float: left;
}

#map {
  height: 700px;
  padding-right: 2%;
  padding-left: 2%;
}
