html,

#map {
  bottom: 0px; 
  height: 100%;
  left:  362px;
  position: absolute;
  right: 0px;
}

.searchbar {
    margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

.map-container {
  height: 100%;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#main_wrap {
  width: 200px;
  height: 700px;
  background-color: yellow;
  display: flex;
}
