html,


body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


input {
  font-size: 12px;
}


h1 {
  color: #525454;
  font-size: 18px;
  margin: 0 0 3px 0;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 12px;
}

ul{
  list-style-type: none;
  padding-left: 2%;
  font-size: 80%;
  width: 30%;
  background-color: azure;
  font-color: white;
  float: left;
  height: 84%;
}

li{
  padding: 2px;
  border-bottom: solid black 1px;
}

.container {
    height: 40%;
    position: relative;

}

.map-container {
  bottom:0px;
  height: 85%;
  left: 362px;
  position: absolute;
  overflow: hidden;
  right: 0px;
  padding: 5px;

}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#a4a8c5;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.searchbar {
  width: 30%;
  font-size: 80%;
  padding-left: 2%;
  display: table;
}



.search-box {
  width: 180px;
  margin-bottom: 14px;
  background-color: white;
}


@media only screen and (max-width:800px) {
   li{
    width: 100%;
  }
  .hamburger{
    display: inline;
  }


}
