html,


body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


input {
  font-size: 12px;
}


h1 {
  color: #525454;
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 12px;
}

ul{
  list-style-type: none;
  padding-left: 2%;
  font-size: 80%;
  width: 30%;
  background-color: azure;
  font-color: white;
}

li{
  padding: 2px;
  border-bottom: solid black 1px;
}


.searchbar {
  width: 30%;
  font-size: 80%;
  padding-left: 2%;
  display: table;
}

.list-container {
  width: 100%;
  position: relative;

}

.list-item {
  font-size: 12px;
  font-color: white;
  width: 100px;
  display: table;
  text-align: left;
}

.list-item-content {
  display: inline-block;
  vertical-align: top;
}

.map-container {
  height: 100%;
}

.searchbar {
    margin-bottom: 20px;
    background-color: white;
    width: 200px;
}

.search-box {
  width: 180px;
  margin-bottom: 14px;
  background-color: white;
}

#map {
  height: 100%;
  width: 850px;
  float: right;
  margin-right: 2%;
  margin-left: 2%;
}


@media only screen and (max-width:620px) {
  nav li{
    width: 100%;
  }
  .list-counter{
    height: 0;
    overflow: auto;
  }
  .hamburger{
    display: inline;
  }
  .open{
    height: 100%;
  }
  .map{
    display: inline;
  }
}
